@{
    ViewData["Title"] = "Listagem de contatos";
}

<div>
    <div>
        <a asp-controller="Contato" asp-action="Criar" class="btn btn-primary">Adicionar novo contato</a>
    </div>
    <div class="text-center">
        <h1 class="display-4">Listagem de contatos</h1>

        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Gabriel Rocha</td>
            <td>gabriel@teste.com</td>
            <td>(34) 9 9797-0972</td>
            <td>
                <div class="d-grid gap-2 d-md-block">
                    <a asp-controller="Contato" asp-action="Editar" role="button" class="btn btn-primary">Editar</a>
                    <a asp-controller="Contato" asp-action="Apagar" role="button" class="btn btn-danger">Apagar</a>
                </div>
            </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>